{% extends 'main/base.html'%}

{% block content %}
{% load tag_templates %}

<div class="topnav">
	<h1>Grants</h1>
</div>
<div id="myModal" class="modal fade">
	<div class="modal-dialog modal-login">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Grants Entry</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			</div>
			<div class="modal-body">
        <form method="POST" action="/grants/new_grant/" class="form-group">
          {% csrf_token %}
          <label for="fund_name">Grant Title</label>
          <input type="text" class="form-control" name="fund_name" id="fund_name" /><br/>
          <label for="sponsor">Sponsor</label>
          <input type="text" class="form-control" name="sponsor" id="sponsor" /><br/>
          <label for="tags">Tags (comma separated)</label>
          <input type="text" class="form-control" name="tags" id="tags" /><br/>
          <label for="schools">Universities Eligible (Enter General if all students can apply)</label>
          <input type="text" class="form-control" name="schools" id="schools" /><br/>
          <label for="description">Short Description</label>
          <input type="text" class="form-control" name="description" id="description" /><br/>
          <label for="info">Link for more Info</label>
          <input type="text" class="form-control" name="info" id="info" /><br/>
          <label for="apply">Link to Apply</label>
          <input type="text" class="form-control" name="apply" id="apply" /><br/>
          <button type="submit" class="btn btn-success">Submit</button>
        </form>
			</div>
		</div>
	</div>
</div>


<div style="padding-bottom: 1rem">
<div style="float: left; display: inline-block; height: 96px; margin-bottom: -80px"><h5>All research projects need funding, especially independent research projects but it always seems impossible to find opportunities. <br>The Grants tab includes company inputed grant/funding opportunities, as well as opportunities found through web scraping.</h5></div>
<div style="float: right ; display: inline-block" align="center"><a class="example_d" href="#myModal" data-toggle="modal" >+</a></div>
</div>

{% for grant in all_grants %}
		<a href="{% url 'grants:view_grants' grant.fundID %}" class="card-top-line info-boxes">
      <div style="display: inline-block; width: 100%; padding: 0rem 5rem">
        <h3 style="float: left">{{grant.fundname}}</h3>
        <h4 style="float: right; padding-top: 2rem; font-weight: 300; font-style: italic;">{{grant.sponsor}}</h4>
      </div>
      <br>
      <div style="margin-left: 4.5rem; float: left">
        {% for t in grant.tags %}
          <h7 class="tags {{t|tag_to_class}}"">{{ t }}</h7>
        {% endfor %}
      </div>
      <br/>
      <br/>
      <h5 style="margin-left: 5rem; float: left; font-size: 20px; font-weight: 300">{{grant.applink}}</h5>
    </a>
<br>
{% endfor %}


{% endblock %}
