#macOS files
.DS_Store

#settings

#database migrations folder
unisustain/account/migrations/
unisustain/grants/migrations/
unisustain/main/migrations/
unisustain/forum/migrations/
unisustain/connect/migrations/
unisustain/events/migrations/

#pycache folders
unisustain/account/__pycache__/
unisustain/grants/__pycache__/
unisustain/main/__pycache__/
unisustain/forum/__pycache__/
unisustain/connect/__pycache__/
unisustain/events/migrations/
unisustain/__pycache__/
*.pyc
