.tags{
  padding: 1rem!important;
  border-radius: 17px;
  color: white;
  display: inline-block;
  font-weight: 300;
  font-size: 20px;
}

.data-science{
  background-color: #AE9CD6;
}

.machine-learning{
  background-color: #CBE5B1;
}

.internet-of-things{
  background-color: #B5E6E5;

}

.biology{
  background-color: #8BB9D4;

}

.chemistry{
  background-color: #A7BAE7;

}

.mechanics{
  background-color: #A6CFA1;

}

.electricity-and-magnetism{
  background-color: #DAD6A1;

}

.statics{
  background-color: #D9BBE6;

}

.applied-mathematics{
  background-color: #57466D;

}

.environmental-science{
  background-color: #9FD2F7;

}

.civil-engineering{
  background-color: #AAE8FC;

}

.geology{
  background-color: #E1B298;

}

.electrical-engineering{
  background-color: #B9F4EE;

}

.archeology{
  background-color: #E59CA0;

}

.anthropology{
  background-color: #AAD4D8;

}

.psychology{
  background-color: #90C978;

}

.technology{
  background-color: #AFD5AA;

}

.orthodontics{
  background-color: #83C6DD;

}

.health{
  background-color: #5DB1D1;

}
