{% extends "main/base.html" %}

{% block content %}
{% load tag_templates %}
<div class="topnav">
	<h1>Student Connect</h1>
</div>

<div id="myModal" class="modal fade">
	<div class="modal-dialog modal-login">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Student Connect Entry</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			</div>
			<div class="modal-body">
        <form method="POST" action="/student-connect/new_post/" class="form-group">
          {% csrf_token %}
          <label for="post_name">Post Title</label>
          <input type="text" class="form-control" name="post_name" id="post_name" /><br/>
          <label for="tags">Tags (comma separated)</label>
          <input type="text" class="form-control" name="tags" id="tags" /><br/>
          <label for="description">Interests + Qualifications</label>
          <input type="text" class="form-control" name="description" id="description" /><br/>
          <button type="submit" class="btn btn-success">Post</button>
        </form>
			</div>
		</div>
	</div>
</div>

<div style="padding-bottom: 1rem">
<div style="float: left; display: inline-block; height: 96px; margin-bottom: -80px; margin-left: 1rem">
	<h5>Student Connect is the place for students to express their interest in getting involved with research, <br>or to find other students to join their research teams. Post about what fields/research topics you're interested in <br>and your background to meet new students!</h5>
	<form style="float: left; margin-left: 1rem" action="{% url 'student-connect:filter_posts' %}" method="get">
    <label for="tags">Tags</label>
    <select name="tags" id="tags">
				<option default=True value="None">N/A</option>
      	<option value="Data Science">Data Science</option>
				<option value="Machine Learning">Machine Learning</option>
				<option value="Internet of Things">Internet of Things</option>
				<option value="Biology">Biology</option>
				<option value="Chemistry">Chemistry</option>
				<option value="Mechanics">Mechanics</option>
				<option value="Electricity and Magnetism">Electricity and Magnetism</option>
				<option value="Statistics">Statistics</option>
				<option value="Applied Mathematics">Applied Mathematics</option>
				<option value="Environmental Science">Environmental Science</option>
				<option value="Civil Engineering">Civil Engineering</option>
				<option value="Geology">Geology</option>
				<option value="Electrical Engineering">Electrical Engineering</option>
				<option value="Archeology">Archeology</option>
				<option value="Anthropology">Anthropology</option>
				<option value="Psychology">Psychology</option>
				<option value="Technology">Technology</option>
				<option value="Orthodontics">Orthodontics</option>
				<option value="Health">Health</option>
     </select>
     <input style="background-color: #00bbbb; border: transparent; padding: 2px 7px; border-radius: 2px; color: white" type="submit" value="Filter" />
	 </form>
</div>
<div style="float: right ; display: inline-block" align="center"><a class="example_d" href="#myModal" data-toggle="modal" >+</a></div>
</div>

{% for post in all_posts %}
		<a href="{% url 'student-connect:view_posts' post.postID %}" class="card-top-line info-boxes">
      <div style="display: inline-block; width: 100%; padding: 0rem 5rem">
        <h3 style="float: left">{{post.title}}</h3>
        <h4 style="float: right; padding-top: 2rem; font-weight: 300; font-style: italic;">{{post.username}}</h4>
				<h3 style="float: left; font-weight: 300">{{post.searching}}</h3>
      </div>
      <br>
      <div style="margin-left: 4.5rem; float: left">
        {% for t in post.tags %}
          <h7 class="tags {{t|tag_to_class}}"">{{ t }}</h7>
        {% endfor %}
      </div>
      <br/>
      <br/>
      <h5 style="margin-left: 5rem; float: left; font-size: 20px; font-weight: 300">{{question.content}}</h5>
    </a>
<br>
{% endfor %}

{% endblock %}
