<!DOCTYPE html><html class="menu">
{% load static %}
<html>
<head>
<title>Unisustain</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}"/>
<script type="text/javascript" src="{% static 'js/base.js' %}"></script>
<link href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>

<div>
{% block content %}
{% endblock %}



<nav class="main-menu">



 <div>
    <a class="logo" href="">
    </a>
  </div>
<div class="settings"></div>
<div class="scrollbar" id="style-1">

<ul>


<li>
<a href="/research-forum">
<i class="fa fa-newspaper-o fa-lg"></i>
<span class="nav-text">Forum</span>
</a>
</li>


<li>
<a href="">
<i class="fa fa-question-circle fa-lg"></i>
<span class="nav-text">Q&A</span>
</a>
</li>
<li>


<li>
<a href="/grants">
<i class="fa fa-money fa-lg"></i>
<span class="nav-text">Grants</span>
</a>
</li>

<li>
	<a href="">
	<i class="fa fa-group fa-lg"></i>
	<span class="nav-text">Events</span>
	</a>
</li>

{% if user.is_authenticated %}

<li>
	<a href="/logout">
	<i class="fa fa-user fa-lg"></i>
	<span class="nav-text">Logout</span>
	</a>
</li>
{% else %}
<li>
	<a href="/login">
	<i class="fa fa-user fa-lg"></i>
	<span class="nav-text">Login</span>
	</a>
</li>

{% endif %}

</nav>



</div>


</body>
</html>
