{% extends 'main/base.html'%}

{% block content %}
{% load tag_templates %}

<div class="topnav">
	<h1>Events/Expos</h1>
</div>

<div id="myModal" class="modal fade">
	<div class="modal-dialog modal-login">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Events Entry</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			</div>
			<div class="modal-body">
        <form method="POST" action="/events/new_event/" class="form-group">
          {% csrf_token %}
          <label for="event_name">Event Title</label>
          <input type="text" class="form-control" name="event_name" id="event_name" /><br/>
          <label for="event_date">Event Date</label>
          <input type="text" class="form-control" name="event_date" id="event_date" /><br/>
          <label for="tags">Tags (comma separated)</label>
          <input type="text" class="form-control" name="tags" id="tags" /><br/>
          <label for="schools">Universities Eligible (Enter General if all students can apply)</label>
          <input type="text" class="form-control" name="schools" id="schools" /><br/>
          <label for="description">Short Description</label>
          <input type="text" class="form-control" name="description" id="description" /><br/>
          <label for="info">Link for more Info</label>
          <input type="text" class="form-control" name="info" id="info" /><br/>
          <label for="apply">Link to Apply</label>
          <input type="text" class="form-control" name="apply" id="apply" /><br/>
          <button type="submit" class="btn btn-success">Submit</button>
        </form>
			</div>
		</div>
	</div>
</div>


<div style="padding-bottom: 1rem">
<div style="float: left; display: inline-block; height: 96px; margin-bottom: -80px"><h5>Presenting is one of the best ways to get your research out there and to build connections with researchers in the fields/research<br> you're interested in. Look no further than this page to find a comprehensive list of Events and Expos you can present at!</h5></div>
<div style="float: right ; display: inline-block" align="center"><a class="example_d" href="#myModal" data-toggle="modal" >+</a></div>
</div>

{% for event in all_events %}
		<a href="{% url 'events:view_events' event.eventID %}" class="card-top-line info-boxes">
      <div style="display: inline-block; width: 100%; padding: 0rem 5rem">
        <h3 style="float: left">{{event.eventname}}</h3>
        <h4 style="float: right; padding-top: 2rem; font-weight: 300; font-style: italic;">{{event.organizer}}</h4>
      </div>
      <br>
      <div style="margin-left: 4.5rem; float: left">
        {% for t in event.tags %}
          <h7 class="tags {{t|tag_to_class}}"">{{ t }}</h7>
        {% endfor %}
      </div>
      <br/>
      <br/>
      <h5 style="margin-left: 5rem; float: left; font-size: 20px; font-weight: 300">{{event.applink}}</h5>
    </a>
<br>
{% endfor %}

{% endblock %}
