{% for question in all_questions %}
    <a href="{% url 'research-forum:view_questions' question.questionID %}">{{question.title}}</a>
    <p>{{question.username}}</p>
    <p>{{question.tags}}</p>
    <br>
{% endfor %}

<form method="POST" action="/research-forum/new_question/" class="form-group">
  {% csrf_token %}
  <label for="question_name">Question Title</label>
  <input type="text" class="form-control" name="question_name" id="question_name" /><br/>
  <label for="tags">Tags (comma separated)</label>
  <input type="text" class="form-control" name="tags" id="tags" /><br/>
  <label for="description">Further Details</label>
  <input type="text" class="form-control" name="description" id="description" /><br/>
  <button type="submit" class="btn btn-success">Post</button>
</form>
