{% extends 'main/base.html' %}

{% block content %}
{% load tag_templates %}

<div class="card-top-line info-boxes" style="height: 200px; border-bottom-color: black; border-bottom-width: 5px">
  <div style="display: inline-block; width: 100%; padding: 0rem 5rem;">
    <h3 style="float: left">{{question.title}}</h3>
    <h4 style="float: right; padding-top: 2rem; font-weight: 300; font-style: italic;">{{question.username}}</h4>
  </div>
  <br>
  <div style="margin-left: 4.5rem; float: left">
    {% for t in question.tags %}
      <h7 class="tags {{t|tag_to_class}}"">{{ t }}</h7>
    {% endfor %}
  </div>
  <br/>
  <br/>
  <br/>
  <h5 style="margin-left: 5rem; float: left; font-size: 20px; font-weight: 300; width: 800px; overflow-y: scroll; padding-bottom: 1rem">{{question.content}}</h5>
</div>


{% for comment in all_comments %}
    <div class="card-top-line info-boxes" style="width: 90%; height: 100px; border-bottom-color: black; border-bottom-width: 5px; margin: 1rem 0rem 1rem auto">
      <div style="display: inline-block; width: 100%; padding: 0rem 5rem;">
        <h4 style="float: left; padding-top: 2.5rem; font-weight: 300; width: 700px; overflow-y: scroll; padding-bottom: 2rem">{{comment.comment}}</h4>
        <h4 style="float: right; padding-top: 2rem; font-weight: 300; font-style: italic;">{{comment.username}}</h4>
      </div>
      <br>
      <br/>
    </div>

{% endfor %}

<div class="card-top-line info-boxes" style="width: 90%; height: 100px; border-bottom-color: black; border-bottom-width: 5px; margin: 1rem 0rem 1rem auto">
  <div style="display: inline-block; width: 100%; padding: 3rem 5rem 0rem;">
<form method="POST" action="{% url 'research-forum:new_forum_comment' question.questionID %}" class="form-group">
  {% csrf_token %}
  <input style="display: inline-block; width: 80%; margin-right: 2rem" type="text" class="form-control" name="comment" id="comment" />
  <button style="display: inline-block" type="submit" class="btn btn-success">Comment</button>
</form>
</div>
</div>

{% endblock %}
