{% extends 'main/base.html' %}

{% block content %}
{% load tag_templates %}

<p>{{question.title}}</p>
<p>{{question.username}}</p>
{% for t in question.tags %}
  <h7 class="tags {{t|tag_to_class}}">{{ t }}</h7>
{% endfor %}
<p>{{question.content}}</p>
<br>
{% for comment in all_comments %}
    <p>{{comment.username}}</p>
    <p>{{comment.comment}}</p>
    <br>
{% endfor %}

<form method="POST" action="{% url 'research-forum:new_forum_comment' question.questionID %}" class="form-group">
  {% csrf_token %}
  <input style="display: inline-block; width: 60%" type="text" class="form-control" name="comment" id="comment" />
  <button style="display: inline-block" type="submit" class="btn btn-success">Comment</button>
</form>

{% endblock %}
